<%- include("./layout/partials/header") -%>

<body class="container">
  <div id="root">
    <%- content %>
  </div>

  <%- include("./layout/partials/scripts") -%>
</body>

<%- include("./layout/partials/footer") -%>
